// MOBILE
@media (max-width: 600px) {
  :root {
    --nav-width: min-content;
    --current-display: none;
    --position: fixed;
    --top: 6dvh;
    --right: 0;
    --left: 0;
  }
}
// DESKTOP / TABLE
@media (min-width: 601px) {
  :root {
    --nav-width: 15vw;
    --current-display: block;
    --position: absolute;
    --transform: 0%;
    --top: calc(100% - 4px);
    --left: -1px;
    --right: -1px;
  }
}

#header {
  .drop-down-nav {
    padding: 0.25rem 0.75rem;
    background-color: var(--panel);
    border-radius: 4px;
    position: relative;
    user-select: none;
    cursor: pointer;

    &:hover,
    &:focus {
      outline: 1px solid var(--contrast);
    }

    > .current-position {
      min-width: var(--nav-width);
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      > div {
        font-size: 0.9rem;
        align-self: flex-start;
        display: flex;
        align-items: center;
        gap: 1rem;

        > span {
          display: var(--current-display);
        }
      }
    }
    .comms-list {
      position: var(--position);
      top: var(--top);
      left: var(--left);
      right: var(--right);
      min-width: calc(100% + 2px);
      width: min-content;
      border: 1px solid var(--contrast);
      border-top: none;
      z-index: 2;
      background-color: var(--panel);
      padding: 0.5rem 0;

      .drop-down-item {
        font-size: 0.9rem;
        display: flex;
        gap: 0.5rem;
        padding: 0.25rem;

        &:hover,
        &:focus {
          background-color: var(--bg);
        }

        > div {
          min-width: 1rem;
        }
      }
    }
  }

  > .user-drop-down {
    position: relative;
    padding: 0.25rem 0.75rem;
    border-radius: 4px;
    background-color: var(--panel);
    user-select: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: 1.5dvw;

    &:hover,
    &:focus {
      outline: 1px solid var(--contrast);
    }
    > .user-current {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      > p {
        display: var(--current-display);
      }
    }

    > .user-menu {
      position: var(--position);
      top: var(--top);
      left: var(--left);
      right: var(--right);
      min-width: calc(100% + 2px);
      width: min-content;
      border: 1px solid var(--contrast);
      border-top: none;
      z-index: 2;
      background-color: var(--panel);
      padding: 0.5rem 0;

      > div {
        cursor: pointer;
        padding: 0.25rem 0.75rem;
        font-size: 0.9rem;
        display: flex;
        gap: 0.75rem;

        &:hover,
        &:focus {
          background-color: var(--bg);
        }
        &:active {
          background-color: var(--accent);
        }
      }
      > .separator {
        display: block;
        margin: 0.75rem;
        border: none;
        border-top: 1px solid var(--border);
      }
      > p {
        padding: 0.5rem 0.75rem;
        font-size: 0.7rem;
        opacity: 70%;
      }
    }
  }
}
