#community-admin {
  background-color: var(--bg);
  min-height: 94svh;
  padding: 2rem 10svw;

  a {
    text-decoration: none;

    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
}

#admin-views {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
