@media (min-width: 1200px) {
  :root {
    --column-grid: 1fr / 50% 50%;
  }
}
@media (max-width: 1200px) {
  :root {
    --column-grid: 1fr 1fr / 1fr;
  }
}

#community-admin {
  background-color: var(--bg);
  min-height: 92svh;
  padding: 2rem 10svw;

  a {
    text-decoration: none;
  }
}
