main#post-main {
  display: flex;
  justify-content: center;
  background-color: var(--bg);
  padding: 5rem 0;
  min-height: 92svh;
}
#post-main-grid {
  width: clamp(50%, 900px, 95%);
  display: grid;
  grid: 1fr / 2fr 1fr;
  gap: 1.5rem;
  > div {
    max-width: 655px;
  }
}

.side-panel {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .description {
    > span {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.5rem 0;

      > p {
        font-weight: 600;
        font-size: 1.2rem;
      }
    }
  }
}
